.main {
    position: fixed;
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    text-align: center;
    font-family: sans-serif;
}

.main img {
    height: 400px;
}
